body {
    background-color: #ccc;
}

.em {
    display: inline-block;
    color: transparent;
    height: 1.25em;
    width: 1.25em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.em::selection {
    color: transparent;
    background: grey;
}

#log {
    font-size: 300%;
}

.legend {
    display: flex;
    flex-wrap: wrap;
    font-size: 200%;

    div {
        padding-right: .2em;
        box-sizing: border-box;
        width: 2em;
        text-align: center;
    }
}

#repl {
    font-size: 20px;
    background-color: #222;
    color: #ddd;
}

.eq {
    font-size: 400%;
}
